@import "../../css/variables";

.layout {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: $sm) {
    grid-template-columns: 1fr 5fr;
  }
}

.main {
  padding: 3rem;
  background: $neutral;
}
