@import "../../css/variables";

.header {
  display: flex;
  padding: 3rem 0;
  flex-direction: column;
  gap: 1rem;
  background: $dark;
}

.logo {
  // Galaxy fold breakpoint
  @media (max-width: $xxs) {
    margin-left: 0;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  margin-left: 1.5rem;

  @media (min-width: $xs) {
    margin-left: 0;
  }
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  transform: rotate(10deg);
  color: $primaryLight;
}

.navlist {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  margin-top: 4rem;
  padding: 0 2rem;
  li {
    font-size: $font-medium;
    font-weight: 600;
    background: $primary;
    text-align: center;
    border-radius: 1px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: $primaryLight;
      transform: translateX(40px);
    }
  }
  a {
    cursor: pointer;
    padding: 1.5rem 0;
    display: block;
  }
}

.selected {
  color: $secondaryLight;
  background: $primaryLight;
}
