@import "../../css/variables";

.header {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: $dark;

  @media (min-width: $sm) {
    display: block;
    padding: 3rem 0;
  }
}

.logo {
  display: flex;
  justify-content: center;
  cursor: pointer;

  img {
    width: 160px;
    @media (min-width: $sm) {
      width: initial;
    }
  }
}

.menuIcon {
  display: block;
  font-size: 4rem;
  transition: all 0.5s ease-in-out;
  @media (min-width: $sm) {
    display: none;
  }
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  background: $dark;
  height: 100%;
  width: 60%;
  transition: all 0.5s ease-in-out;
  transform: translateX(-350px);

  @media (min-width: $xs) {
    transform: translateX(-600px);
  }

  @media (min-width: $sm) {
    position: relative;
    height: initial;
    width: initial;
    background: none;
    transform: translateX(0);
  }
}

.navlist {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 1rem;
  margin-top: 4rem;
  @media (min-width: $sm) {
    padding: 0 2rem;
  }
}

.navlist li {
  font-size: $font-medium;
  font-weight: 600;
  text-align: center;
}

.navlist a {
  display: block;
  background: $primary;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
  padding: 0.3rem 0;
  @media (min-width: $sm) {
    padding: 1.2rem 1rem;
  }

  &:hover {
    background: $primaryLight;
    transform: translateX(40px);
  }
}

// Highlights currently selected anchor tag
.selected {
  color: $secondaryLight;
  background: $primaryLight !important;
  transform: translateX(40px);
}

// Sets navbar to original position
.showNav {
  transform: translateX(0);
}

// Hides second logo in desktop view
.hideLogo {
  @media (min-width: $sm) {
    display: none;
  }
}
