@import "../../css/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  flex-direction: column;
  gap: 1rem;
  @media (min-width: $xs) {
    flex-direction: row;
  }
}

.logo {
  // Galaxy fold breakpoint
  @media (max-width: $xxs) {
    margin-left: 0;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  margin-left: 1.5rem;

  @media (min-width: $xs) {
    margin-left: 0;
  }
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  transform: rotate(10deg);
  color: $primary;
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  li {
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
}
