// Alignment
.center {
  text-align: center;
}

// Spacing
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
// Fonts
.font-small {
  font-size: $font-small;
}

// Colors
.secondary {
  color: $secondary;
}

// Misc
.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
}

.page {
  min-height: calc(100vh - 110px);
}

.line {
  height: 2px;
  background-color: black;
}

.width-100 {
  width: 100%;
}
