// Colors
$primary: #16a188;
$secondary: #f6b656;
$light: #ffffff;
$dark: #39302f;
$neutral: #dddddd;
$body: #504040;

// Font Sizes
$font-small: 1.4rem;
$font-medium: 1.6rem;
$font-large: 2.4rem;
$font-heading: 4.8rem;

// Font Weights
$font-body: 400;
$font-bold: 600;
$font-bolder: 700;

// Breakpoints
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
