@import "variables";
@import "utilities";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $light;
  font-family: "Open sans", sans-serif;
  font-size: $font-medium;
  letter-spacing: 0.5;
  line-height: 1.5;
  color: $body;
}

a {
  text-decoration: none;
  color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open sans", sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  color: $dark;
}

h1 {
  font-size: $font-heading;
  font-weight: 700;
}

h2 {
  font-size: $font-large;
  font-weight: 600;
}

h3 {
  font-size: $font-medium;
  font-weight: 600;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.7rem 1rem;
  background-color: $secondary;
  color: $light;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $primary;
  }
}

input,
textarea {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  resize: none;
}
